/* Importações */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap;');
/*@import url('./reset.min.css');*/
/* Tags Personalizadas */
body {
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    background-image: linear-gradient(to bottom ,#5EFC8D, #0a58ca);
    /*background: #5EFC8D;*/
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    color: #030000;
    font-weight: 600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

p{
    text-align: justify;
}

label {
    margin: 15px 0;
}

header{
    position: absolute;
    background-color: rgba(220, 220, 220, 0);
    height: 40px;
    width: 100%;
    box-shadow: 0px 0px 10px black;
    z-index: 1;
}

footer {
    background-color: rgba(94, 252, 141, 0);
    display: flex;
    min-height: 100px;
    width: 100%;
    border-top: 0.4px solid #FFF2E7;
    gap: 100px;
    bottom: 0;
    justify-content: center;
    padding:0 20px;
}

main {
    min-height: 100vh;
    min-height: -webkit-calc(100vh - 100px);
    min-height:    -moz-calc(100vh - 100px);
    min-height:         calc(100vh - 100px);
    margin-bottom: 100px;
}

/* Classes Personalizadas */
.g-5{
    margin-top: 10px;
}

.titulo-pagina {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}

.rodape {
    padding: 50px;
    border-top: 0.4px solid #FFF2E7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    margin: 0 120px;
    bottom: 0;
}

.pp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.redes-sociais {
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aa {
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-main-escrito-titulo {
    font-size: 44px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 180px ;
    text-align: center;
}

.home-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-subtexto {
    justify-content: center;
    align-items: center;
    display: flex;
}
.botoes {
    display: flex;
    margin-right: 10px;
    /*padding-left: 14%;*/
    flex-direction: row;
    gap: 3em;
}
.subtexto-botoes{

}
.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.conteudo-principal-imagem{
    margin-top: 5%;
    height: 550px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.conteudo-secundario-imagem {
    margin-top: 50px;
    margin-bottom: 50px;
}

.conteudo-meio {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.contato-main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato-form {
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 50vh;
}

.contato-img {
    width: 80vh;
    height: 55vh;
    margin-right: 150px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}


.form-floating > label{
    margin: 1px !important;
    justify-content: start;
    color: #0a58ca;
}

.bt-cadastrar-formulario {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.conteudo-login {
    height: 100%;
}

.conteudo-login {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.logar {
    margin-top: 30px;
}

.formulario {
    margin-top: 30px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.formulario-cabecalho {
    font-weight: bold !important;
    align-content: center;
    justify-content: center;
}

.formulario-pergunta {
    font-size: 26px;
    margin-top: 10px;
    page-break-after: always;

}

.form-perguntas {
    margin-top: 20px;
}

.botao {
    background: #4D7C8A;
    color: white;
    border-radius: 10px;
    padding: 2px;
    border-color: white;
}

.nav-link {
    margin: 0 10px;
}

.cadastro-funcionarios {
    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
}
/* Componentes personalizados */
#img_logo {
    width: 120px;
    height: 30px;
}

#cabecalho {
    font-family: Inter, Arial, sans-serif;
    color: black;
    background: #D8DDEF;
    padding: 10px;
    font-size: 20px;
}

#bt_formulario{
    border-radius: 10px;
    width: 280px;
    height: 3em;
    background: #4D7C8A;
    color: white;
    border-style: none;
}

#bt_empresa{
    background-color: lightgray;
    color: black;
    border-radius: 10px;
    width: 200px;
    height: 3em;
}

#logo_home {
    width: 80vh;
    height: 55vh;
    margin-right: 150px;

}

#div_footer{
    background-color:#D8DDEF;
    width:1050px;
    height:350px;
    margin-top: 150px;
}

#div_pai-footer{
    margin-top:200px;
}

#vamos-comecar{
    width:400px;
    height:50px;
    color: #182322;
    font-size:40px;
    font-family:arial;
    font-weight: 600;
    font-weight: 600;
    text-align:center;
    margin-left:30px;
    margin-top:50px;
    margin-bottom:100px;
}

a{
    text-decoration: none;
    color: #000;
}

a:hover, a:focus{
    color: red;
    text-decoration: none;
    outline: none;
}

.active{
    font-size: 30px;
    color: red;
    border-bottom: 5px solid red;
}