/* Importações */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

/* Tags Personalizadas */
body {
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    background: #5EFC8D;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    color: black;
    font-weight: bold;
}
/* Classes Personalizadas */
.g-5{
    margin-top: 10px;
}

.titulo_pagina {
    margin-top: 30px;
    text-align: center;
}

.form_perguntas {
    margin-top: 5px;
    background-color: #4D7C8A;
}

/* Componentes personalizados */
#img_logo {
    width: 120px;
    height: 30px;
}

#cabecalho {
    font-family: Inter, Arial, sans-serif;
    color: black;
    background: #D8DDEF;
}

#bt_logar {
    background: #4D7C8A;
    color: white;
}

#form_respostas {
    margin-top: 15px;
    background: #4D7C8A;
}